
@font-face {
    font-family: 'Tajawal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal Regular'), url('../fonts/tajawal/Tajawal-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal ExtraLight'), url('../fonts/tajawal/Tajawal-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal Light';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal Light'), url('../fonts/tajawal/Tajawal-Light.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal Medium'), url('../fonts/tajawal/Tajawal-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal Bold'), url('../fonts/tajawal/Tajawal-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal ExtraBold'), url('../fonts/tajawal/Tajawal-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Tajawal Black';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal Black'), url('../fonts/tajawal/Tajawal-Black.woff') format('woff');
}
